.table {
    border: 1px black solid;
    width: 100%;
}

td {
    text-align: left;
    padding: 2px 10px;
}

th {
    text-align: left;
    padding: 2px 10px;
    background-color: aquamarine;
}

.dateStyle {
    display: inline;
    padding: 10px
}

.preGenButtons {
    display: flex;
    justify-content: space-around;
    padding: 10px 800px 0px 0px;
}